html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header__mart {
  float: left;
  margin-left: 30px;
  margin-top: 36px;
}

.header__nav {
  float: right;
  list-style: none;
  margin-top: 42px;
  margin-bottom: 38px;
}

.header__nav a {
  display: block;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.header__nav li {
  float: left;
}

.header__nav--item--1 {
  margin-right: 34px;
}

.header__nav--item--2 {
  margin-right: 38px;
}

.header__nav--item--3 {
  margin-right: 30px;
}

.header__nav--item--4 {
  margin-right: 28px;
}

.header__nav--item--5 {
  margin-right: 34px;
}

.header__nav--item--6 {
  margin-right: 30px;
}

.header__nav a:hover {
  color: #1abc9c;
}

.slider {
  display: block;
}

.slider__image {
  position: relative;
}

.slide__text--h1 {
  position: absolute;
  font-family: "Roboto";
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
  top: 262px;
  left: 334px;
}

.slide__text--h2 {
  position: absolute;
  font-family: "Roboto";
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  top: 390px;
  left: 334px;
}

.button {
  position: absolute;
  width: 104px;
  height: 104px;
  cursor: pointer;
  background-color: #4ec6ab;
  border: none;
  background-repeat: no-repeat;
}

.button__left {
  position: absolute;
  top: 300px;
  left: 30px;
}

.button__left--image {
  background-position: center;
  background-image: url("/img/left.png");
}

.button__right {
  position: absolute;
  top: 300px;
  right: 30px;
}

.button__right--image {
  background-position: center;
  background-image: url("/img/right.png");
}

.button:hover {
  opacity: 0.651;
}

.section__title {
  background-color: #e9f0fd;
}

.section__title-text {
  text-align: center;
  font-family: "Roboto";
  font-size: 48px;
  text-transform: uppercase;
  color: #515151;
  margin-bottom: 31px;
}

h2 .section__title-text::after {
}

h1:nth-last-of-type() {
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin-left: 550px;
  margin-bottom: 79px;
}

.content {
    position: relative;
}

.content__text--1 {
  font-family: Roboto;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  width: 255px;
  height: 40px;
  background-color: #323232;
}

.content__text--2 {
  font-family: Roboto;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  width: 54px;
  height: 40px;
  background-color: #8c8c8c;
}

.like {
  background-image: url(/img/like.png);
}

.bla {
  background-image: url(/img/bla.png);
}

.time {
  background-image: url(/img/time.png);
}

.card {
  background-image: url(/img/12png);
  background-image: url(/img/add\ to\ cart.png);
}
