html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
  }

.container {
    width: 940px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    margin-top: 50px;
    margin-bottom: 125px;
}

.logo {
    font-family: 'WisdomScriptAJ';
	font-size: 26px;
    color: rgb(254, 209, 54);
    list-style: none;
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
    color: #5d5d5d;
}

.menu li:not(:last-child) {
    margin-right: 60px;
}

.menu a:hover {
    color: rgb(254, 212, 67);
}

h1 {
    font-family: Montserrat;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	color: #222;
}

p { 
	font-size: 16px;
	font-style: italic;
	color: #777;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 22px;
}


.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 120px;
}

.icon {
    display: flex;
    line-height: 66px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 24px;
    width: 66px;
	height: 66px;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	border-radius: 33px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 40px;
}

.features-list-item {
    display: block;
    text-align: center;
}

.text-h1 {
    margin-bottom: 24px;
}

.container-background {
    background: rgb( 34, 34, 34);
    background-image: url(/img/Map\ Image.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 675px;
    
}

.text-background-h1 {
    display: flex;
    justify-content: center;
    

}

.text-background-p {
    display: flex;
    justify-content: center;
}

.text-background-h1 h1 {
    font-family: Montserrat;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
    color: #fff;
    margin-top: 110px;
    margin-bottom: 25px;
}

.form {
    max-width: 940px;
    margin: 0 auto;
}

.form-input {
    display: block;
    width: 455px;
    height: 50px;
    margin-bottom: 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #fff;
    border: solid 1px #ccc;
    font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #bbb;
}

.form-textarea {
    display: block;
    width: 455px;
	height: 209px;
	-webkit-border-radius: 2px/8px 8px 9px 9px;
	-moz-border-radius: 2px/8px 8px 9px 9px;
	border-radius: 2px/8px 8px 9px 9px;
	background-color: #fff;
    border: solid 1px #ccc;
    font-family: inherit;
    resize: none;
}


.button-submit {
    text-align: center;
    margin: 0 auto;
}

.submit {
    margin-top: 30px;
    margin-right: 350px;
    margin-left: 350px;
    width: 240px;
	height: 65px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fed136;
    font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}


.elemRight {
    float: left;
    margin-left: 30px;
    margin-top: 77px;
}

.elemLeft {
    margin-top: 77px;
    float: left;
}

input[type="text"],
input[type="email"],
textarea[type="text"]:valid {
    background: #fff;
}

input[type="text"],
input[type="email"],
textarea[type="text"]:invalid {
    background: red;
}
