html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.picture img {
  width: 100%;
  height: auto;
}

.background {
  background-image: url(../img/1.png);
  background-size: cover;
  margin-bottom: 69px;
}

.header__login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  padding-top: 32px;
  margin-bottom: 125px;
}

.header__log {
  width: 41px;
  height: 14px;
}

.header__sing {
  width: 53px;
  height: 14px;
}

.text-uppercase {
  cursor: pointer;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  list-style: none;
  font-weight: 700;
}

.header-text-1 {
  text-align: center;
  right: 70px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 38px;
}

.header-text-2 {
  text-align: center;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  padding-bottom: 19px;
}

.header-text-p {
  width: 239px;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  margin: 0 auto;
  padding-bottom: 19px;
}

.header-button-1 {
  padding-bottom: 132px;
}

.header-button {
  display: block;
  width: 280px;
  height: 40px;
  list-style: none;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #ff4e50;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  font-weight: 700;
  margin-left: 18px;
  
}

.text-3 {
  text-align: center;
  right: 35px;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 19px;
}

.article-section {
  width: 374px;
  height: 100%;
}

.posit {
  position: relative;
}

.foto-1 {
  position: relative;
  left: 100px;
  text-align: center;
  margin-bottom: 22px;
}

.foto-2 {
  position: absolute;
  right: 94px;
  bottom: -6px;
}

.main-text-h1 {
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 22px;
}

.main-text-p {
  text-align: center;
  margin: 0 60px 30px 60px;
  font-family: Roboto;
  font-size: 14px;
  color: #666;
  font-weight: 300;
}

.header-button-2 {
  display: block;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #fff;
  border: solid 2px #ff4e50;
  list-style: none;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  color: #ff4e50;
  margin-bottom: 58px;
}
